.brand span {
    width: 38px;
    height: 38px;
    padding: 0 !important;
    display: block;
    flex: none;
    font-size: 0 !important;
    background: #1b191a url('/icons/icon-64.png') center/30px 30px no-repeat !important;
    box-shadow: none !important;
    border-radius: 7px !important
}

.popup-window .brand span {
    width: 34px;
    height: 34px;
    background-size: 27px 27px !important
}